<!DOCTYPE html>
<html>
<head>
		<title>Test page</title>

</head>
<body>
<h1> Hey, I'm a big heading</h1>
<p> Hey, I am a <b>paragraph</b> element. Cool huh?</p>
<a href="https://google.com" target="_blank" title="Lets go to the darkweb">Click me! I am a link</a>
<p>My name is:<br>
	Kitty Cat</p>
<img src="https://static.skillshare.com/uploads/discussion/tmp/cb9d921c">
</body>
</html>
